//====================================================================================================
.header {

	// .header__top
	&__top {
		background-color: $mainDarkColor;
		color: $white;
	}
	// .header__body
	&__body {
	}
	// .header__catalog
	&__catalog {
	}
}
.top-header {
	padding: 10px 0;
	// .top-header__container
	&__container {
		display: flex;
		align-items: center;
		gap: rem(20);
		min-height: rem(50) //70 минус паддинги по 10
	}
	// .top-header__menu
	&__menu {
		display: flex;
		flex: 1 1 auto;
	}
	// .top-header__cabinet
	&__cabinet {
		display: inline-flex;
		align-items: center;
		line-height: math.div(22,18);
		font-size: rem(18);
		font-weight: 600;
		position: relative;
		z-index: 5;
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
		@media (max-width: $mobile){
			span{
				display: none;
			}
		}
	}
	// .top-header__cabinet-icon
	&__cabinet-icon{
		width: rem(21);
		height: rem(27);
		fill: #ECF1F2;
		@media (max-width: $tablet){
			height: rem(37);
			width: rem(34);
		}
		@media (min-width: $mobile){
			margin-right: rem(15);
		}
	}
}
.menu-top-header{
	// .menu-top-header__body
	&__body {
	}
	// .menu-top-header__list
	&__list {
		display: flex;
		row-gap: 5px;
		@include adaptiveValue("column-gap", 60, 20);
		@media (max-width: $tablet){
			flex-direction: column;
			row-gap: 25px;
		}
	}
	// .menu-top-header__item
	&__item {
		&--catalog{
			@media (min-width: $tablet){
				display: none;
			}
		}
	}
	// .menu-top-header__link
	&__link {
		font-size: rem(16);
		line-height: math.div(20,16);
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
		&--catalog{
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: row-reverse;
		}
		@media (max-width: $tablet){
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1)
		}

	}
	// .menu-top-header__link--icon
	&__link-icon{
		width: rem(18);
		height: rem(18);
		fill: $mainOrange;
		transform: translateY(rem(-2)) rotate(-90deg);
	}
	@media (max-width: $tablet){
		display: none;
	}
}

.menu{
	// .menu__body
	&__body{
		@media (max-width: $tablet){
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: auto;
			background-color: $mainDarkColor;
			padding: rem(100) rem(50) rem(15);
			transition: left 0.5s ease 0s;
			z-index: 4;
			&::before {
				content: "";
				position: fixed;
				top: 0;
				left: -100%;
				width: 100%;
				height: 70px;
				background-color: $mainDarkColor;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}

	}
	@media (max-width: $tablet){
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
	}
}
//====================================================================================================
.body-header {
	padding: rem(10) 0;
	background-color: #ECF1F2;
	// .body-header__container
	&__container {
		display: flex;
		min-height: rem(70);
		align-items: center;
		@media (max-width: $tablet){
			justify-content: space-between;
		}
		/* @media (max-width: $mobileSmall){
			justify-content: center;
		} */
	}
	// .body-header__logo
	&__logo {
	}
	// .body-header__logo-icon
	&__logo-icon{
		width: rem(190);
		height: rem(42.5);
	}
	// .body-header__search
	&__search {
		flex: 1 1 auto;

		@media (min-width: $tablet){
			padding-right: rem(20);
		}
		@media (min-width: $mobileSmall){
			@include adaptiveValue("padding-left", 158, 20, 1620, 1400, 1);
		}
	}
	// .body-header__actions
	&__actions {
	}

}
.search-header {
	background-color: rgba(7, 7, 7, 0.03);
	border: 1px solid rgba(0.4, 0.4, 0.4, 0.5);
	border-radius: rem(3);
	position: relative;
	@media (min-width: $tablet){
		max-width: rem(377);
	}
	@media (max-width: $mobileSmall){
		background-color: $white;
	}
	// .search-header__button
	&__button{
		position: absolute;
		width: 30px;
		height: 30px;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;
		top: 50%;
    	left: rem(15);
		@extend %btnreset;
	}
	// .search-header__button-icon
	&__button-icon{
		width: rem(20);
		height: rem(20);
		fill: transparent;
		stroke: rgba(0, 0, 0, 0.5);
	}
	// .search-header__input
	&__input {
		width: 100%;
		background-color: transparent;
		height: rem(41);
		color: $mainColor;
		padding: 0px rem(20) 0px rem(50);
		&::placeholder{
			color: rgba(0, 0, 0, 0.5);
		}
	}

}
.actions-header {
	display: flex;
	align-items: center;
	@include adaptiveValue("column-gap", 30, 15, 1620, 1000, 1);
	// .actions-header__location
	&__location {
		display: flex;
		align-items: center;
		font-weight: 600;
		@include adaptiveValue("margin-right", 25, 0, 1620, 1250, 1);
		@media (max-width: $tablet){
			display: none;
		}
	}
	// .actions-header__location-icon
	&__location-icon {
		width: rem(17);
		height: rem(24.5);
		margin-right: rem(10);
	}
	// .actions-header__phones
	&__phones {
	}
	// .actions-header__favorite
	&__favorite {
		height: rem(26.5);
		position: relative;
		z-index: 5;
	}
	// .actions-header__favorite-icon
	&__favorite-icon {
		fill: $mainColor;
		width: rem(28);
		height: rem(26.5);
		transition: fill 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				fill: crimson;
			}
		}
		@media (max-width: $tablet){
			fill: $white;
			width: rem(35);
			height: rem(30);
		}
	}
	// .actions-header__cart
	&__cart {
	}
}
.phones-header {
	position: relative;
	z-index: 5;
	// .phones-header__items
	&__items {
	}
	// .phones-header__item
	&__item {
		position: relative;
		display: flex;
		align-items: center;
	}
	// .phones-header__phone
	&__phone {
		line-height: math.div(22, 18);
		font-weight: 600;
		white-space: nowrap;
		display: flex;
		align-items: center;
		@media (max-width: $tablet){
			font-size: rem(20);
		}
		@media (max-width: $mobileSmall){
			span{
				display: none;
			}
		}

	}
	// .phones-header__phone-icon
	&__phone-icon{
		width: rem(37);
		height: rem(32);
		fill: $white;
		@media (min-width: $mobileSmall){
			display: none;
		}
	}
	// .phones-header__arrow-down
	&__arrow-down {
		position: relative;
		margin-left: rem(10);
		width: rem(22);
		height: rem(22);
		@extend %btnreset;
		transition: transform 0.5s ease 0s;
		&._spoller-active{
			transform: rotate(-180deg);
		}
		@media (max-width: $tablet){
			display: none;
		}
	}
	// .phones-header__arrow-down-icon
	&__arrow-down-icon {
		fill: $mainOrange;
		width: rem(18);
		height: rem(18);
		position: absolute;
		top: rem(3);
		left: rem(2);
	}

	// .phones-header__list
	&__list {
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;
		background-color: $white;
		padding: rem(15);
		border-radius: rem(10);
		z-index: 2;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		li{
			&:not(:last-child){
				margin-bottom: em(8, 18);
			}
		}
		@media (max-width: $tablet){
			display: none;
		}

	}
	// .phones-header__callback
	&__callback {
		color: $mainOrange;
		font-weight: 700;
		line-height: math.div(22, 18);
		@media (max-width: $tablet){
			display: none;
		}
	}
}

.cart-header {
	display: flex;
	align-items: center;
	column-gap: 15px;
	position: relative;
	z-index: 5;
	// .cart-header__btn
	&__btn {
		height: rem(35.3);
		position: relative;
		span{
			position: absolute;
			right: 0;
			top: 0;
			font-size: rem(8);
			line-height: 1;
			background-color: $mainOrange;
			padding: rem(5);
			border-radius: 50%;
			color: $white;
		}
	}
	// .cart-header__btn-icon
	&__btn-icon {
		fill: transparent;
		stroke: $mainColor;
		width: rem(37);
		height: rem(35.3);
		@media (max-width: $tablet){
			stroke: $white;
			width: rem(40);
			height: rem(37);
		}
	}
	// .cart-header__body
	&__body {
		font-size: rem(16);
		line-height: math.div(20, 16);
		flex: 0 0 auto;
		@media (max-width: em(1250)){
			display: none;
		}
	}
	// .cart-header__summ
	&__summ {
		font-weight: 500;
		&:not(:last-child){
			margin-bottom: em(5, 16);
		}
	}
	// .cart-header__link
	&__link {
		color: $mainOrange;
	}
}

//==================================================================================================================================================================================
.catalog-header {
	background-color: $mainDarkColor;
	color: $white;
	position: relative;
	// .catalog-header__container
	&__container {
	}
	// .catalog-header__menu
	&__menu {
	}
	@media (max-width: $tablet){
		padding: rem(20) 0;
	}
}
.menu-catalog {
	&__back{
		display: none;
		@media (max-width: $tablet){
			display: inline-flex;
			align-items: center;
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
			&:not(:last-child){
				margin-bottom: em(65, 30);
			}
		}

	}
	&__back-icon{
		width: rem(25);
		height: rem(25);
		fill: $white;
		margin-right: rem(12.5);
	}
	// .menu-catalog__list
	&__list {
		display: flex;
		column-gap: 10px;
		justify-content: space-between;
		@media (max-width: $tablet){
			flex-direction: column;
			row-gap: rem(25);
		}
	}
	// .menu-catalog__item
	&__item {
	}
	// .menu-catalog__link
	&__link {
		display: flex;
		position: relative;
		transition: color 0.3s ease 0s;
		@media (min-width: $tablet){
			min-height: rem(70);
			padding: 0px rem(10);
			justify-content: center;
			align-items: center;
			text-align: center;
		}
		&::after {
			opacity: 0;
			visibility: hidden;
			// будем добавлять на активный
			content: "";
			position: absolute;
			bottom: rem(7);
			left: rem(10);
			height: 2px;
			width: calc(100% - rem(20));
			background-color: $mainOrange;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover){
			&:hover{
				color: $mainOrange;
				&::after{
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&._submenu-active{
			color: $mainOrange;
			&::after{
				opacity: 1;
				visibility: visible;
			}
		}
		@media (max-width: $tablet){
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
		}
	}
	// .menu-catalog__submenu
	&__submenu {
		width: 100%;
		top: calc(100% - 1px);
		left: 0;
		background-color: $mainDarkColor;
	}
	@media (max-width: $tablet){
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $mainDarkColor;
		padding: rem(100) rem(50) rem(15);
		transition: left 0.3s ease 0s;
		.catalog-open & {
			left: 0;
			z-index: 6;
		}
	}
}
.submenu-catalog {
	@media (max-width: $tablet){
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $mainDarkColor;
		padding: rem(25) rem(15) rem(50);
		transition: left 0.5s ease 0s;
		._submenu-open & {
			left: 0;
			z-index: 6;
			display: block;
		}
	}
	// .submenu-catalog__block
	&__block {
		padding: 0 rem(10);
		display: none;
		@for $var from 1 to 6 {
			&--#{$var}{
				grid-template-columns: repeat($var, minmax(auto, rem(320)));
			}
		}
		&._submenu-open{
			display: grid;
		}
		@media (max-width: $tablet){
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: $mainDarkColor;
			padding: rem(100) rem(50) rem(15);
			transition: left 0.5s ease 0s;
			&._submenu-open {
				left: 0;
				z-index: 6;
				display: block;
			}
		}
	}
	// .submenu-catalog__container
	&__container{
		padding: 0px rem(10);
	}
	// .submenu-catalog__category
	&__category {
		font-size: rem(16);
		line-height: math.div(20, 16);
		font-weight: 700;
		padding: rem(30) rem(15) rem(30) 0;
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__back{
		display: none;
		@media (max-width: $tablet){
			display: inline-flex;
			align-items: center;
			@include adaptiveValue("font-size", 30, 20, 992, 320, 1);
			z-index: 7;
		}
	}
	&__back-icon{
		width: rem(25);
		height: rem(25);
		fill: $white;
		margin-right: rem(12.5);
	}
	// .submenu-catalog__list
	&__list {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		gap: 20px; //тут типа гап вместо паддинга, поэтому запись padding: 0px rem(10) rem(30); не подойдет
		padding: rem(30) 0;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
	// .submenu-catalog__item
	&__item {
	}
	// .submenu-catalog__link
	&__link {
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
		&._submenu-active{
			color: $mainOrange;
			&::after{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .submenu-catalog__footer
	&__footer{
		padding: rem(30) 0;
	}
	// .submenu-catalog__all
	&__all {
		align-self: flex-start; //чтобы не растягивался на 100%
		font-size: rem(16);
		color: $mainOrange;
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}
}



//==================================================================================================================================================================================
.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: 40px;
		height: 22px;
		cursor: pointer;
		z-index: 10;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
